@import "_variables";

// DEFAULTS
@mixin initial-styles {
    body, html {
        height: 100%;
    }    

    body {
        background-color: $light-blue;
        color: $white;
        font-family: $raleway;
        margin: 0;
        padding: 0;
    }

    p {
        font-size: 28px;
    }

    a {
        text-decoration: none;
    }

    img {
        width: 100%;
    }

    hr {
        border-top: 1px solid $white;
        width: 300.01px;
    }
}

@mixin fonts {
    .font-brand {
        font-family: $rowdies;
        text-transform: uppercase;
    }

    .font-display {
        font-family: $sacramento;
        text-transform: lowercase;
    }

    .font-san-serif {
        font-family: $raleway;
    }
}

@mixin bg-colors{
    .bg-light {
        background-color: $light-blue;
    }

    .bg-navy {
        background-color: $dark-blue;
    }

    .bg-ocean {
        background-color: $ocean-blue;
    }
}

// MOBILE NAV
@mixin mobile-nav {
    #mobile-nav {
        height: 100%;
        background-color: $ocean-blue;
        position: relative;
        display: none;
    }

    #mobile-nav .nav-item {
        width: 100%;
        text-align: center;
        font-size: 25px;
    }

    #mobile-nav .nav-link:focus,
    #mobile-nav .nav-link:hover {
        text-decoration: none;
    }

    #mobile-nav .home-bar {
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
    }

    #mobile-nav .home-link {
        color: $white;
        font-size: 40px;
    }

    #mobile-nav .home-link:hover {
        text-decoration: none;
    }



}

// HEADER
@mixin header {
    header {
        background-color: $dark-blue;
        margin: 0;
        position: absolute;
        top: 0;
        z-index: 10;
        width: 100%;
    }

    .nav-item {
        font-family: $rowdies;
        font-size: 20px;
        color: $white;
        text-transform: uppercase;
    }

    .nav-link {
        color: $white;
    }

    .nav-link:focus, 
    .nav-link:hover {
        text-decoration: 2px underline $white;
        color: $white;
    }

    .logo {
        max-width: 105px;
    }

    .icon-responsive {
        display: none;
    }

    // responsive behavior
    @media screen and (max-width: $md) {
        header .nav {
            display: none;
        }

        .icon-responsive {
            display: block;
        }
    }
}

// CONTENT COMPONENTS
@mixin billboard {
    .billboard {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        // filter: blur(5px);
    }

    .billboard-full {
        height: 100%;
    }

    .billboard-half {
        height: 75%;
    }

    .billboard-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .billboard-text .font-display,
    .billboard-text .font-brand {
        font-size: 100px;
    }

    #billboard-home {
        background-image: url("../img/billboard-ship-in-the-stars.jpg");
    }

    #billboard-about {
        background-image: url("../img/billboard-about.jpg");
    }

    #billboard-events {
        background-image: url("../img/billboard-events.jpg");
    }

    #billboard-reservations {
        background-image: url("../img/billboard-reservations.jpg");
    }

    #billboard-store {
        background-image: url("../img/billboard-store.jpg");
    }
}

@mixin filler {
    .filler-text {
        font-size: 90px;
        line-height: 40px;
    }

    // .filler-top {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    // }

    // .filler-bottom {
    //     position: absolute;
    //     bottom: 0;
    //     right: 0;
    // }
}

@mixin button {
    .btn {
        width: 223px;
        padding: 10px;
        background-color: white;
        color: $dark-blue;
        font-family: 'Rowdies';
        font-size: 26px;
        text-transform: uppercase;
        border: 3px solid $dark-blue;
        border-radius: 17px;
        filter: drop-shadow(8px 8px 0px $dark-blue);
        margin: auto;
        display: block;
    }

    .btn:focus,
    .btn:hover {
        text-decoration: none;
        transform: translate(8px, 8px);
        filter: none;
        box-shadow: 0 0 20px $white, 0 0 15px $dark-blue, 0 0 25px $dark-blue;
        color: $dark-blue;
    }
}

@mixin banner {
    .banner {
        height: 60%;
    }

    .banner-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@mixin boxes {
    .box {
        padding: 10px;
        border: 2px solid $white;
        position: relative;
        width: auto;
        height: 360px;
    }

    .box-img-border {
        border: 7px solid #FFFFFF;
        height: 100%;
    }

    .box-img {
        filter: blur(3px);
        height: 100%;
        object-fit: cover;
    }

    .box-img-adj {
        height: 360px;
        object-fit: cover;
    }

    .box-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .box-title {
        text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.62);
    }

    .box-desc {
        text-shadow: 0px 4px 4px #000000;
    }

    .box-hr {
        width: 74px;
        border-top: 5px solid #FFFFFF;
        box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    }
}

@mixin form {
    form {
        width: 50%;
        margin: auto;
    }

    label {
        font-family: $sacramento;
        font-size: 30px;
        text-align: left;
        letter-spacing: 0.01em;
    }

    input[type=text] {
        background-color: $white;
        border: 3px solid $dark-blue;
        border-radius: 13px;
        width: 100%;
        height: 47px;
        padding-left: 5px;
        font-size: 20px;
    }
}

@mixin bordered {
    .bordered-img {
        border: 10px solid $white;
        width: 350px;
        height: 350px;
        margin: auto;
        margin-bottom: 19px;
        object-fit: cover;
    }
}

// FOOTER
@mixin footer {
    .waves {
        position:relative;
        width: 100%;
        height:15vh;
        margin-bottom:-7px; /* fix for safari gap */
        min-height:100px;
        max-height:150px;
    }
      
      /* animation */
      
    .parallax > use {
        animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
    }
    .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }
    .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }
    .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }
    .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }
    @keyframes move-forever {
        0% {
         transform: translate3d(-90px,0,0);
        }
        100% { 
          transform: translate3d(85px,0,0);
        }
    }
      /*Shrinking for mobile*/
    @media (max-width: 768px) {
        .waves {
          height:40px;
          min-height:40px;
        }
    }

    .footer-content {
          background-color: rgb(63, 120, 241);
          text-align: center;
        //   height: 25vh;
    }
}