body, html {
  height: 100%; }

body {
  background-color: #1563AA;
  color: #FFF;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0; }

p {
  font-size: 20px; }

p.larger {
  font-size: 28px; }

a {
  text-decoration: none; }

img {
  width: 100%; }

hr {
  border-top: 1px solid #FFF;
  width: 300.01px; }

.font-brand {
  font-family: "Rowdies", cursive;
  text-transform: uppercase; }

.font-display {
  font-family: "Sacramento", cursive;
  text-transform: lowercase; }

.font-san-serif {
  font-family: "Raleway", sans-serif; }

.bg-light {
  background-color: #1563AA; }

.bg-navy {
  background-color: #050B52; }

.bg-ocean {
  background-color: #003F71; }

.bordered-img {
  border: 10px solid #FFF;
  width: 290px;
  height: 290px;
  margin: auto;
  margin-bottom: 19px;
  object-fit: cover; }

.bordered-img-full {
  border: 10px solid #FFF;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-bottom: 19px;
  object-fit: cover; }

.row {
  margin-left: 0;
  margin-right: 0; }

#mobile-nav {
  height: 100%;
  background-color: #003F71;
  position: relative;
  display: none; }

#mobile-nav .nav-item {
  width: 100%;
  text-align: center;
  font-size: 25px; }

#mobile-nav .nav-link:focus,
#mobile-nav .nav-link:hover {
  text-decoration: none; }

#mobile-nav .home-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center; }

#mobile-nav .home-link {
  color: #FFF;
  font-size: 40px; }

#mobile-nav .home-link:hover {
  text-decoration: none; }

header {
  background-color: #050B52;
  margin: 0;
  width: 100%;
  height: 20%; }

.nav-item {
  font-family: "Rowdies", cursive;
  font-size: 20px;
  color: #FFF;
  text-transform: uppercase; }

.nav-link {
  color: #FFF; }

.nav-link:focus,
.nav-link:hover {
  text-decoration: 2px underline #FFF;
  color: #FFF; }

.logo {
  max-width: 105px; }

.icon-responsive {
  display: none; }

@media screen and (max-width: 992px) {
  header .nav {
    display: none; }

  .icon-responsive {
    display: block; } }
.billboard {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.billboard-full {
  height: 80%; }

.billboard-half {
  height: 55%; }

.billboard-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.billboard-text .font-display,
.billboard-text .font-brand {
  font-size: 13vw; }

.billboard-half .billboard-text .font-display,
.billboard-half .billboard-text .font-brand {
  font-size: 8vh; }

#billboard-home {
  background-image: url("../img/billboard-ship-in-the-stars.jpg"); }

#billboard-about {
  background-image: url("../img/billboard-about.jpg"); }

#billboard-events {
  background-image: url("../img/billboard-events.jpg"); }

#billboard-reservations {
  background-image: url("../img/billboard-reservations.jpg"); }

#billboard-store {
  background-image: url("../img/billboard-store.jpg"); }

.filler-text {
  font-size: 90px;
  line-height: 40px; }

@media screen and (max-width: 576px) {
  .filler-text {
    font-size: 69px; } }
.btn {
  width: 210px;
  padding: 10px;
  background-color: white;
  color: #050B52;
  font-family: 'Rowdies';
  font-size: 23px;
  text-transform: uppercase;
  border: 3px solid #050B52;
  border-radius: 17px;
  filter: drop-shadow(8px 8px 0px #050B52);
  margin: auto;
  display: block; }

.btn:focus,
.btn:hover {
  text-decoration: none;
  transform: translate(8px, 8px);
  filter: none;
  box-shadow: 0 0 20px lightblue, 0 0 40px rgba(5, 11, 82, 0.3);
  color: #050B52; }

.banner {
  height: 55%; }

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.menu-type {
  font-family: "Sacramento", cursive;
  font-size: 62px;
  line-height: 75px;
  border: 2px solid #FFF; }

.menu-item {
  margin: auto auto 24px; }

.menu-item-name {
  font-family: "Rowdies", cursive;
  font-size: 23px;
  text-transform: lowercase;
  margin-bottom: 0; }

.menu-item-ingredients {
  font-size: 18px;
  margin-bottom: 0; }

.menu-item-price {
  font-family: "Rowdies", cursive;
  margin-bottom: 0;
  font-weight: lighter; }

form {
  width: 70%;
  margin: auto; }

label {
  font-family: "Sacramento", cursive;
  font-size: 30px;
  text-align: left;
  letter-spacing: 0.01em; }

input[type=text] {
  background-color: #FFF;
  border: 3px solid #050B52;
  border-radius: 13px;
  width: 100%;
  height: 47px;
  padding-left: 5px;
  font-size: 20px; }

.input-warning {
  color: darkorange;
  text-transform: capitalize; }

@media screen and (min-width: 992px) {
  form {
    width: 50%; } }
.box {
  padding: 10px;
  border: 2px solid #FFF;
  position: relative;
  width: auto;
  height: 360px; }

.box-img-border {
  border: 7px solid #FFFFFF;
  height: 100%; }

.box-img {
  filter: blur(3px);
  height: 100%;
  object-fit: cover; }

.box-img-adj {
  height: 360px;
  object-fit: cover; }

.box-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.box-title {
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.62); }

.box-desc {
  text-shadow: 0px 4px 4px #000000;
  font-size: 25px; }

.box-hr {
  width: 74px;
  border-top: 5px solid #FFFFFF;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25); }

.overlap-container {
  height: 75%;
  position: relative; }

.overlap-text-box {
  width: 75%;
  min-height: 235px; }

.overlap-text {
  font-size: 30px; }

.overlap-img-box {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 70%;
  height: 70%; }

.overlap-img {
  object-fit: cover;
  height: 100%; }

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /* fix for safari gap */
  min-height: 100px;
  max-height: 150px; }

/* animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite; }

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s; }

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s; }

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s; }

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s; }

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0); }
  100% {
    transform: translate3d(85px, 0, 0); } }
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px; } }
.footer-content {
  background-color: #3f78f1;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
