html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: black;
    font-family: 'Nova Slim', cursive;
    line-height: 1.5;
}

h1 {
    font-size: 80px;
    filter: drop-shadow(2px 4px 6px black);
}

p {
    font-size: 24px;
    filter: drop-shadow(2px 4px 6px black);
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.flex {
    display: flex;
}

header, footer {
    background-color: darkblue;
    color: white;
}

.brand-font {
    font-family: 'Fascinate Inline', cursive;
}

.content-container {
    position: relative;
    height: 100%;
}

.bg-img {
    background-image: url("../assets/bar-bg.jpg");
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100%; 
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.content {
    color: white;
    border: 3px solid white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    margin: 24px;
}

.neon-sign {
    font-size: 45px;
    color: #fff;
    text-shadow: 
        0 0 7px #1400ff, 
        0 0 10px #fff, 
        0 0 21px #fff, 
        0 0 42px #1e013b;
}

form {
    border: 1px solid black;
    padding: 38px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    font-size: 24px;
}

.form-header {
    font-size: 36px;
}

input[type="submit"] {
    border-radius: 28px;
    padding: 6px 15px;
    background-color: white;
    cursor: pointer;
}

/* font-family: 'Aclonica', sans-serif;
font-family: 'Alata', sans-serif;
font-family: 'Emblema One', cursive;
font-family: 'Fascinate Inline', cursive;
font-family: 'Marko One', serif;
font-family: 'Nova Slim', cursive;
font-family: 'Rowdies', cursive; */